table {
  border: 2px solid black; /* Bordes externos para la tabla */
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px; /* Espacio entre tablas */
}

th, td {
  border: 1px solid black; /* Bordes de las celdas */
  padding: 10px; /* Espaciado interno */
  text-align: center; /* Centra el contenido */
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
